body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 225, 122);
}

.header_text {
    font-family: 'Nunito';
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom:0;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
